Package: com.kiengk0eng.shazam
Name: Shazam® (Paid)!
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Hide Ads and more
Maintainer: kiengk0eng <kiengk0eng@yahoo.com>
Author: kiengk0eng <kiengk0eng@yahoo.com>
Section: Entertainment
Depiction: https://kiengk0eng.github.io/depictions/shazam/index.html
