Package: com.kiengk0eng.path
Name: Path® (Premium)!
Depends: mobilesubstrate
Version: 6.9.0
Architecture: iphoneos-arm
Description: No ads, Sticker, Filter, Early Access
Maintainer: kiengk0eng <kiengk0eng@yahoo.com>
Author: kiengk0eng <kiengk0eng@yahoo.com>
Section: Social
Depiction: https://kiengk0eng.github.io/depictions/path/index.html
