Package: com.kiengk0eng.smoonvip
Name: Smoon® (VIP)!
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Unlock all Pack, No Ads
Maintainer: kiengk0eng <kiengk0eng@yahoo.com>
Author: kiengk0eng <kiengk0eng@yahoo.com>
Section: Social
Depiction: https://kiengk0eng.github.io/depictions/smoon/index.html
