Package: com.kiengk0eng.facetune2
Name: Facetune®2 (VIP)!
Depends: mobilesubstrate
Version: 1.9.3
Architecture: iphoneos-arm
Description: Unlimited Access, All Library of elements, VIP Icon
Maintainer: kiengk0eng <kiengk0eng@yahoo.com>
Author: kiengk0eng <kiengk0eng@yahoo.com>
Section: Multimedia
Depiction: https://kiengk0eng.github.io/depictions/facetune2/index.html
