Package: com.kiengk0eng.speedtest
Name: Speedtest® (Purchased)!
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Remove Ads
Maintainer: kiengk0eng <kiengk0eng@yahoo.com>
Author: kiengk0eng <kiengk0eng@yahoo.com>
Section: Utilities
Depiction: https://kiengk0eng.github.io/depictions/speedtest/index.html
