Package: com.kiengk0eng.tonebridgepremium
Name: ToneBridge® (Premium)!
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Unlock all Packs, More Presets Artist, Unlimited Access
Maintainer: kiengk0eng <kiengk0eng@yahoo.com>
Author: kiengk0eng <kiengk0eng@yahoo.com>
Section: Entertainment
Depiction: https://kiengk0eng.github.io/depictions/tonebridge/index.html
