Package: com.kiengk0eng.footyvid
Name: FootyVid® (Patch)!
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Maintainer: kiengk0eng <kiengk0eng@yahoo.com>
Author: kiengk0eng <kiengk0eng@yahoo.com>
Section: Multimedia
Description: Patch and Kick Ads
Depiction: https://kiengk0eng.github.io/depictions/footyvid/index.html
