Package: com.kiengk0eng.livewall
Name: Live Wallpapers® (VIP)!
Depends: mobilesubstrate
Version: 1.11
Architecture: iphoneos-arm
Description: Unlock all PREMIUM content, Daily new Live Wallpapers, Remove Ads!
Maintainer: kiengk0eng <kiengk0eng@yahoo.com>
Author: kiengk0eng <kiengk0eng@yahoo.com>
Section: Multimedia
Depiction: https://kiengk0eng.github.io/depictions/livewall/index.html