Package: com.kiengk0eng.nicefriends
Name: NiceFriends® (VIP)!
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Enjoy VIP Benefits, Daily Bonus Friends, Become a Verified Profile, Unlock Selected & Popular Friends, Unlock Who Viewed & Liked You, Discover People Nearby, Nearby Around The World, Advanced Search & Filter, Match Friends by Al, Hide Ads
Maintainer: kiengk0eng <kiengk0eng@yahoo.com>
Author: kiengk0eng <kiengk0eng@yahoo.com>
Section: Social
Depiction: https://kiengk0eng.github.io/depictions/nicefriends/index.html
