Package: com.kiengk0eng.plotaverse
Name: Plotaverse® (FX+)!
Depends: mobilesubstrate
Version: 2.7.0
Architecture: iphoneos-arm
Description: All Access, Handreds of FREE Overlay FX, NEW Overlay added every DAY, Custom Exports, Remove Watermark, Ad Free!
Maintainer: kiengk0eng <kiengk0eng@yahoo.com>
Author: kiengk0eng <kiengk0eng@yahoo.com>
Section: Multimedia
Depiction: https://kiengk0eng.github.io/depictions/plotaverse/index.html