Package: com.kiengk0eng.ushareit
Name: uShareit (Patch)!
Depends: mobilesubstrate
Version: 2.8.28
Architecture: iphoneos-arm
Description: Free Ads
Maintainer: kiengk0eng <kiengk0eng@yahoo.com>
Author: kiengk0eng <kiengk0eng@yahoo.com>
Section: Productivity
Depiction: https://kiengk0eng.github.io/depictions/ushareit/index.html
