Package: com.kiengk0eng.turbovpnvip
Name: TurboVPN® (VIP)!
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Worldwide Location, No Ads, Fast Connection!
Maintainer: kiengk0eng <kiengk0eng@yahoo.com>
Author: kiengk0eng <kiengk0eng@yahoo.com>
Section: Utilities
Depiction: https://kiengk0eng.github.io/depictions/turbovpn/index.html
